body {

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;

	font-family: sans-serif;
}

div#app {
	margin-top: 1rem;
	font-size: 21px;
}

div#app form {
	margin-top: 1rem;
}

div#app form .form-group {
	margin-right: 2rem;
}

div#app table tbody .form-control {
	display: inline-block;
	width: 30%;
	height: 4rem;
	font-size: 18px;
}

.completed {
	text-decoration: line-through;
	color: grey;
}

div#app button:focus,
div#app button:active {
	outline: none;
}