<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta charset="utf-8">
	<title>Test-2</title>
</head>
<body>
	<div class="container">
		<div id="app">
			<form class="form-inline" role="form">
				<div class="form-group">
					<button type="button" v-on:click="addElement" class="btn btn-info">Добавить</button>
					<input v-model="newElement" class="form-control" v-on:keyup.enter="addElement" type="text" placeholder="Добавьте задачу">
				</div>
				<div class="form-group">
					<button v-on:click="filter = 'search'" type="button" class="btn btn-warning">Поиск</button>
					<input v-model="search" v-on:keyup.enter="filter = 'search'" class="form-control" type="text" name="search" placeholder="Поиск по названию">
				</div>
				<div class="form-group">
					<button type="button" v-on:click="filter = 'completed'" class="btn btn-default">Выполненные</button>
					<button type="button" v-on:click="filter = 'active'" class="btn btn-default">Не выполненные</button>
					<button type="button" v-on:click="filter = 'all'" class="btn btn-default">Все</button>
				</div>
			</form>
			<hr>
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Задачи:</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(element, index) in elementsFiltered"  :key="element.id">
						<th scope="row">
							<div v-if="!element.editing" v-on:dblclick="editEl(element)">
								<input type="checkbox" name="checkbox" id="check" v-model="element.completed"> 
								<span :class="{completed : element.completed}">{{element.title | capitalize}}</span>
							 	<button type="button" v-on:click="delElement(index)" class="btn btn-danger btn-xs">Удалить</button>
						 	</div>
						 	<div v-else>
						 		<button class="btn btn-success" v-on:click="doneEditEl(element)">Сохранить</button>
						 		<button class="btn btn-danger" v-on:click="cancelEditEl(element)">Отмена</button>
						 		<input  v-on:keyup.enter="doneEditEl(element) " v-on:keyup.esc="cancelEditEl(element) " v-model="element.title" class="form-control" type="text" placeholder="Добавьте элемент" v-focus>
						 	</div>
						</th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
	<script src="js/main.js"></script>
</body>
</html>